body {
	text-align: center;
	font-family: "Poppins", sans-serif;
  }
  
  .weatherapp {
	box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
	border-radius: 10px;
	border: 1px solid #dadde1;
	max-width: 700px;
	margin: 20px auto;
	background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  }
