ul {
	margin: 0;
	padding: 0;
  }
  
  li {
	list-style: none;
  }
  
  .cityName {
	font-size: 55px;
	margin: auto;
	color: #5585b5;
  }
  
  .today,
  .time {
	font-size: 25px;
  }
  
  .temp {
	font-size: 50px;
	color: #5585b5;
  }
  